{% extends 'index.html' %}
{% block start %}
      <section class="section-padding" id="booking">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="booking-form">
                        
                        <h2 class="text-center mb-lg-3 mb-2">Add Student Mapper Details</h2>
                    
   
        
                        <form action="" method="POST">
                          {% csrf_token %} 
                          <!-- <button type="submit" class="btn btn-info my-2">Submit</button> -->
                          <div class="row">
                            <div class="col-lg-6 col-12">
                              <input type="number" id="studentid" class="form-control" placeholder="Student Id" required/>                        
                            </div>
                            <div class="col-lg-6 col-12">
                              <input type="number" id="courseid" class="form-control" placeholder="Course Id" required/>                        
                            </div>
                            <div class="col-lg-6 col-12">
                              <input type="number" id="universityid" class="form-control" placeholder="Department Id" required/>                        
                            </div>
                            <div class="col-lg-6 col-12">
                              <input type="number" id="departmentid" class="form-control" placeholder="University Id" required/>                        
                            </div>
                            
                        
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 mx-auto">
                          <input type="submit" class="form-control" id="saveButton" onclick="save_data()" text="save"/>
                        </div>
                        </form>
      <div id="error-list"></div>
    </div>
</div>
</div>
</div>
</section>

<script>   
  function save_data() {
    var token = "{{csrf_token}}";
    var studentid = $("#studentid").val();
    var courseid = $("#courseid").val();
    var universityid = $("#universityid").val();
    var departmentid = $("#departmentid").val();

    
    $.ajax({
      type: "POST",
      headers: { "X-CSRFToken": token },
      url: "http://127.0.0.1:8000/api/admin/studentMapper/",
      data: {studentid:studentid,courseid:courseid,universityid:universityid, departmentid: departmentid },

      success: function (data) {
        
        console.log(data);
      },
      error: function (data) {
          console.log(error);
      }
    });
  }
</script>


  {% endblock %}