{% extends 'index.html' %}
{% block start %}
      <section class="section-padding" id="booking">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 col-12 mx-auto">
                    <div class="booking-form">
                        
                        <h2 class="text-center mb-lg-3 mb-2">Log in</h2>
                    
   
     


                        <form method="POST">
                          {% csrf_token %} 
                          <!-- <button type="submit" class="btn btn-info my-2">Submit</button> -->
                          <div class="row">
                            
                           
                            <div class="col-lg-6 col-12">
                                <input  type="email" id="email"  class="form-control" placeholder="Email" required>                        
                              </div>
                              
                            
                            <div class="col-lg-6 col-12">
                              <input  type="password" id="password"  class="form-control" placeholder="Password" required>                        
                            </div>
                            
                            
                            
                        
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 mx-auto">
                          <button onclick="save_data()">click</button>
                          <!-- <input type="submit" class="form-control" id="saveButton" onclick="save_data()" text="save"/> -->
                        </div>
                        </form>
      <div id="error-list"></div>
    </div>
</div>
</div>
</div>
</section>


<script>   

  function save_data() {
      var token = "{{csrf_token}}";
      
      var email = $("#email").val();
      var password = $("#password").val();
  
  
  
  
    
      $.ajax({
        type: "POST",
        headers: { "X-CSRFToken": token },
        url:"http://127.0.0.1:8000/api/admin/login/",
  
        data: {email:email,password:password},
  
        success: function (data) {
          
          console.log(data);
          // console.log("message in cosole")
          window.location="http://127.0.0.1:8000/api/vote/";
        },
        error: function (data) {
            console.log(error);
        }
      });
    }
  </script>
  {% endblock %}